# Drop GSE Multiplayer Mesh Network Credentials
# Populated automatically by running ./bootstrap-ztnet.sh
#
# To configure manually:
# GSE_MESH_BACKEND=ztnet
# GSE_ZTNET_URL=http://172.20.0.32:3000
# GSE_ZTNET_ORG=
# GSE_ZTNET_TOKEN=
