[Unit]
Description=Drop ZTNET Controller Management UI and REST API
Wants=network-online.target
After=network-online.target drop-ztnet-postgres.service drop-zerotier.service
Requires=drop-ztnet-postgres.service drop-zerotier.service

[Container]
ContainerName=drop-ztnet
Image=docker.io/sinamics/ztnet:latest
AutoUpdate=registry
Network=drop-network.network
IP=172.20.0.32
PublishPort=3002:3000
Volume=drop-zerotier.volume:/var/lib/zerotier-one
Environment=HOSTNAME=0.0.0.0
Environment=POSTGRES_HOST=172.20.0.31
Environment=POSTGRES_PORT=5432
Environment=POSTGRES_DB=ztnet
Environment=ZT_ADDR=http://172.20.0.30:9994
Environment=RATE_LIMIT_API_MAX_REQUESTS=500
EnvironmentFile=%E/containers/systemd/ztnet.env
WorkingDir=/app
SecurityLabelDisable=true

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
