[Unit]
Description=Drop ZTNET PostgreSQL Database
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=drop-ztnet-postgres
Image=docker.io/postgres:15-alpine
AutoUpdate=registry
Network=drop-network.network
IP=172.20.0.31
Volume=drop-ztnet-db.volume:/var/lib/postgresql/data
EnvironmentFile=%E/containers/systemd/ztnet.env
Environment=POSTGRES_DB=ztnet
SecurityLabelDisable=true

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
